<%= render 'shared/header' %>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h1 class="card-title text-center mb-4"><%= License.model_name.human(count: 2) %></h1>
        <%= render 'table' %>
      </div>
    </div>
  </div>
</div>
