<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h1 class="card-title text-center mb-4"><%= t('company_list') %></h1>
        <%= render 'table' %>
      </div>
    </div>
  </div>
</div>
