<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h1 class="card-title text-center"><%= t('license_details') %></h1><hr />

        <div class="row">
          <%= render 'details' %>
          <%= render 'statement_details' %>
        </div>
      </div>
    </div>
  </div>
</div>
