<% lang = I18n.locale == :km ? :en : :km %>
<% url = [request.url, "locale=#{lang}" ].join(request.url.include?('?') ? '&' : '?') %>

<div class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark mb-2">
  <div class="container">
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nva-item">
          <%= link_to t('home'), root_path, class: 'nav-link' %>
        </li>
      </ul>
      <ul class="navbar-nav float-right">
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"><%= current_user.name %></a>
          <div class="dropdown-menu dropdown-menu-right">
            <%= link_to t('sign_out'), destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
          </div>
        </li>
        <!--
        <li class="nav-item">
          <%= link_to t("#{lang}_lang"), url, class: 'nav-link' %>
        </li>
        -->
      </ul>
    </div>
  </div>
</div>
