<div class="list-group">
  <% @licenses.each do |license| %>
    <%= link_to(
      "#{license.valid_at.year} - #{license.expire_at.year}",
      license_path(license),
      class: 'list-group-item text-center'
    ) %>
  <% end %>
</div>
