<div class="list-group">
  <% @licenses.each do |license| %>
    <%= link_to "#{license.valid_date.year} - #{license.expires_date.year}", license_path(license), class: 'list-group-item text-center' %>
  <% end %>
</div>
