/*
  = require jquery-ui
*/

@import "variables";
@import "bootstrap";
@import "font-awesome";
@import "noty";
@import "noty_mint";

html[lang=km] body {
  font-family: "Khmer OS Battambang";

  .table th {
    font-family: "Khmer OS Muollight";
  }
}

body {
  font-size: 13px;
  background-color: #f2f2f2;
}

.table td {
  color: $lightGray;
}

.table tr.bg-danger td {
  color: #f2f2f2;
}

input, textarea, button, .form-control, .btn {
  &:focus {
    box-shadow: none !important;
  }
}

.search {
  position: relative;
  input {
    padding-right: 30px;
  }
  button {
    top: 0;
    right: 0;
    position: absolute;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  &:hover {
    background-color: #ccc;
  }
}

.btn-no-hover {
  &:hover {
    background-color: inherit !important;
  }
}

.pointer {
  cursor: pointer;
}

.license-details {
  table tr td:first-child {
    width: 80px;
    font-weight: bold;
  }
  table, table td {
    border: none;
  }
}

.field_with_errors {
  input, select, textarea {
    @extend .is-invalid;
  }
}

.required abbr {
  @extend .text-danger;
}

table th {
  font-weight: normal !important;
  text-align: center !important;
}

table td, table th {
  vertical-align: middle !important;
}

.license-details__content {
  label, span {
    display: inline-block;
  }
  label {
    width: 180px;
    font-weight: bold;
  }
}

.license-details__history-item {
  padding-top: 7px;
  padding-bottom: 7px;
}

.business-plan__content {
  label, span {
    display: inline-block;
  }
  label {
    width: 60px;
    font-weight: bold;
  }
}
